<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Celestial Chess</title>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <link
      href="https://cdn.bootcdn.net/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link rel="icon" href="/static/favicon.png" type="image/png" />
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <nav>
      <ul class="menus">
        <li class="menu_item">
          <i class="fa fa-th-large" aria-hidden="true"></i>

          <ul>
            <li id="undoButton">悔棋</li>
            <li id="redoButton">重悔</li>
            <li id="restartButton">重开</li>
          </ul>
        </li>
        <li class="menu_item">
          <i class="fa fa-check-square" aria-hidden="true"></i>

          <ul>
            <li id="minimaxButton">Minimax执棋</li>
            <li id="mctsButton">MCTS执棋</li>
            <li id="monkyButton">Monky执棋</li>
            <!-- <li id="dlButton">DLAI执棋</li> -->
          </ul>
        </li>
        <li class="menu_item">
          <i class="fa fa-comment" aria-hidden="true"></i>

          <ul>
            <li id="minimaxAuto">与Minimax对弈</li>
            <li id="mctsAuto">与MCTS对弈</li>
            <li id="monkyAuto">与Monky对弈</li>
            <!-- <li id="dlAuto">与DLAI对弈</li> -->
          </ul>
        </li>
        <li class="menu_item">
          <i class="fa fa-tags" aria-hidden="true"></i>

          <ul>
            <li id="toggleCmd">显示/隐藏 CMD</li>
          </ul>
        </li>
        <li class="menu_item">
          <i class="fa fa-bars" aria-hidden="true"></i>

          <ul>
            <li>Score: <span id="Score">0</span></li>
          </ul>
        </li>
      </ul>
    </nav>
    <div class="main">
      <h1 style="text-align: center">
        <span id="celestial">Celestial</span> Chess
      </h1>
      <table id="chessboard"></table>
    </div>
    <div id="cmd-panel" class="cmd-panel" style="cursor: move; display: none;">
      <!-- 上方历史输出区 -->
      <div id="cmd-output" class="cmd-output"></div>

      <!-- 输入提示行 -->
      <div style="border-top: 1px solid #444; padding-top: 8px">
        <span style="color: #0f0">&gt;</span>
        <input id="cmd-input" class="cmd-input" type="text" />
      </div>
    </div>

    <script src="/static/script.js"></script>
  </body>
</html>
